<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            body {
                margin: 0px;
                padding: 0px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        
            header {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                gap: 20px;
                width: 100%;
                background-color: #1f618d;
                padding: 5px 10px;
                margin-bottom: 10px;
                color: #fff;
                font-family: sans-serif;
            }
        
            div {
                display: block;
                padding: 5px 10px;
            }
        
            div p {
                font-size: 15px;
                font-weight: lighter;
                color: #333;
                font-family: sans-serif;
            }
        
            div strong {
                color: #1f618d;
                font-size: 18px;
            }
        
            footer {
                width: 100%;
                background-color: #1f618d;
                padding: 2px;
                color: #fff;
                text-align: center;
            }
        </style>
</head>

<body>
    <header>
        <h2>Invicto Nutrition</h2>
    </header>
    <div>
        <p>Estimado {{ name }},</p>
        <br />
        <p>{{ content }}</p>
        <br>
    </div>
    <footer>
        <p>Todos los derechos reservados &copy; Invicto Nutrition</p>
    </footer>
</body>

</html>